In [1]:
import pandas as pd 
import os

In [2]:
path = '/home/michael/Desktop/oeff/oeff_resized'
files_all = os.listdir(path)
files = []
files1 = []
for file in files_all:
    name, ext = os.path.splitext(file)
    if ext == '.jpg':
        name, ext = os.path.splitext(file)
        name = name + '.jpg'
        files.append(os.path.join(path,name)) 
        files1.append(name)

In [3]:
dataframe = pd.DataFrame({'Filename': files, 'Metadata Tags': files1, 'Description':files1,	'Permalink':files1})

In [4]:
dataframe.describe()

,Filename,Metadata Tags,Description,Permalink
count,4463,4463,4463,4463
unique,4463,4463,4463,4463
top,/home/michael/Desktop/oeff/oeff_resized/Felsin...,P9190309.jpg,P9190309.jpg,P9190309.jpg
freq,1,1,1,1

In [55]:
oeff = '/home/michael/Desktop/oeff/'
dataframe.to_csv(str(oeff + 'metadata.csv'),index=False)